<app-header></app-header>
<div class="background-image">
</div>

<div class="wrapper">
    <div class="container">
        <h1 class="animate-on-scroll">🙏 Welcome To Fastx Bus Ticket Booking 🙏</h1>
        <br>
        <h5 class="animate-on-scroll">Your one stop solution to book bus tickets for your next journey!!</h5>
        <br><br>

        <!-- Code for Bus ticket start -->

        <!-- Code for Bus ticket ends -->

        <div class="row">
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/Bus1.png" class="card-img-top room-image" alt="Standard Room">
                        <h5 class="card-title" style="color:  #35156b;">2*2 Non AC Standard Bus</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A comfortable bus with basic amenities which is a convenient mode of transportation and is used by most of users to travel from one place to another. </p>
                            <!-- <a routerLink="/booking" class="btn btn-primary">Book Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/Bus2.png" class="card-img-top room-image" alt="Deluxe Room">
                        <h5 class="card-title" style="color:  #35156b;">2*2 AC Deluxe Bus</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A fully air conditioned spacious bus with additional amenities such as USB Charging Port, Clean and adequate interiors, Reading light, Comfortable seating etc.</p>
                            <!-- <a routerLink="/booking" class="btn btn-primary">Book Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate-on-hover">
                    <div class="card-side card-side-front">
                        <img src="assets/Bus3.jpg" class="card-img-top room-image" alt="Suite Room">
                        <h5 class="card-title" style="color:  #35156b;">Sleeper AC Volvo Bus</h5>
                    </div>
                    <div class="card-side card-side-back">
                        <div class="card-body">
                            <p class="card-text">A comfortable and extravagant bus equipped with sleeping berths for long-distance travel along with luxury amenities such as wet towels, blankets, beverages, Wifi, common LCD TV etc. Also it has comfortable seating including
                                ergonomic seats, reclining seats, and pillows.</p>
                            <!-- <a routerLink="/booking" class="btn btn-primary">Book Now</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



    </div>
</div>

<app-footer></app-footer>